<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		
		<!-- <title> Account</title> -->
		<title th:if="${account.accountId == null}">New Bank Account</title>
		<title th:unless="${account.accountId == null}">Update Account Name</title>
		<link rel="stylesheet" href="/css/users.css" />
	</head>
	<body>
		><div th:if="${account.accountId == null}">
			<h1>Create New Bank Acount</h1>
			<form action="" method="post">
				<div>
					Account Name: <input type="text" th:field="${account.accountName}" />
					<br>


					<input type="submit" value="Create Account" />
				</div>
				<div>
					<!-- TODO: maybe it's better without 127....? -->
					<a href="javascript:window.history.back()" ><span>Back </span></a><hr>


					<a href="http://127.0.0.1:8080/users/"><span>(Back to Users)</span></a>
				</div>
			</form>


		</div>





			<!-- Update Account Name -->
		<div th:unless="${account.accountId == null}">
			<h1 th:text="|Account #${account.accountId}: &emsp; ${account.accountName}"> </h1>
			<form action="" method="post">
				<div>
					Account Name: <input type="text" th:field="${account.accountName}" />
					<br>


				
					<input type="submit" value="Save Account" />
				</div>
				<div>
					<!-- TODO: maybe it's better without 127....? -->
					<a href="javascript:window.history.back()" ><span>Back </span></a><hr>


					<a href="http://127.0.0.1:8080/users/"><span>(Back to Users)</span></a>
				</div>
			</form>
		</div>
	</body>
</html> 