<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Create Account</title>
	</head>
	<body>
		<h1>Create Your Account</h1>
		
		<form action="" method="post">
			<div>
				Username: <input type="text" th:field="${user.username}" />
			</div>
			<div>
				Password: <input type="password" th:field="${user.password}" />
			</div>
			<div>
				Full Name: <input type="text" th:field="${user.name}" />
			</div>
			<div>
				<input type="submit" value="Create Account" />
			</div>
		</form>
	</body>
</html>