<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title th:if="${#lists.size(users) == 1}">User</title>
		<title th:unless="${#lists.size(users) == 1}">Users</title>
	</head>
	<body>
		<h1 th:if="${#lists.size(users) == 1}">User</h1>
		<h1 th:unless="${#lists.size(users) == 1}">Users</h1>
		
		<div th:if="${#lists.size(users) == 1}">
			<form action="" method="post">
				<div>
					Username: <input type="text" th:field="${user.username}" />
				</div>
				<div>
					Password: <input type="password" th:field="${user.password}" />
				</div>
				<div>
					Full Name: <input type="text" th:field="${user.name}" />
				</div>
				<div>
					<input type="submit" value="Update User Account" />
				</div>
			</form>
			<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
				<input type="submit" value="Delete User Account" />
			</form>
		</div>
		
		<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
		    <a th:href="@{/users/{user}(user=${user.userId})}"><span th:text="|ID: ${user.userId}|"></span></a><br/>
			<span th:text="|username:&emsp; ${user.username}|"></span><br/>
			<span th:text="|fullname:&emsp; ${user.name}|"></span><br/>
			<span th:text="|password:&emsp; ${user.password}|"></span>
			<div th:each="account : ${user.accounts}">
				<span th:text="|account name:&emsp; ${account.accountName}|"></span>
			</div>
			<hr/>
		</div>
	</body>
</html>